add:
; --- 第一个窄洞
{
	"origin" "-10611 -7244 149"
	"angles" "0 0 0"
	"classname" "weapon_ammo_spawn"
	"model" "models/props/terror/ammo_stack.mdl"
	"spawnflags" "2"
	"count" "1"
}
; --- 矿道进洞
{
	"origin" " -6750 -8734 -85"
	"angles" "0 0 0"
	"classname" "weapon_ammo_spawn"
	"model" "models/props/terror/ammo_stack.mdl"
	"spawnflags" "2"
	"count" "1"
}
; --- 宽山洞
{
	"origin" " -6265 -7200 -71"
	"angles" "0 0 0"
	"classname" "weapon_ammo_spawn"
	"model" "models/props/terror/ammo_stack.mdl"
	"spawnflags" "2"
	"count" "1"
}
; --- 第二个窄洞
{
	"origin" "-4617 -4756 -23"
	"angles" "0 0 0"
	"classname" "weapon_ammo_spawn"
	"model" "models/props/terror/ammo_stack.mdl"
	"spawnflags" "2"
	"count" "1"
}
; --- 宽山洞
{
	"classname" "weapon_spawn"
	"origin" "-6915 -6678 -94"
	"spawnflags" "2"
	"solid" "6"
	"weapon_selection" "tier1_shotgun"
	"disableshadows" "1"
	"count" "5"
	"angles" "0 120 90"
	"spawn_without_director" "1"
}
; --- 宽山洞
{
	"classname" "weapon_spawn"
	"origin" "-6945 -6683 -94"
	"spawnflags" "2"
	"solid" "6"
	"weapon_selection" "tier1_SMG"
	"disableshadows" "1"
	"count" "5"
	"angles" "0 325.5 90"
	"spawn_without_director" "1"
}

; --- 删除电梯尸潮
modify:
{
	match:
	{
		"targetname" "wf2_elevator_relay"
	}
	delete:
	{
		"OnTrigger" "wf2_directorPanicEvent1.61"
		"OnTrigger" "wf2_f_bgmFadeIn81.81"
		"OnTrigger" "wf2_elevator_movesndPlaySound0.11"
		"OnTrigger" "wf2_f_eventambTrigger01"
	 }
}

; --- 删除电梯按钮
filter:
{
	"targetname" "wf2_f_btt"
}
{
	"targetname" "wf2_f_bttfake"
}

; --- 不用等待电梯
modify:
{
	match:
	{
		"hammerid" "127665"
	}
	insert:
	{
		"OnMapSpawn" "wf2_elevator_relayTrigger01"
	}
}
