add:
; --- 第一个机关前
{
	"origin" "-122 3902 54"
	"angles" "0 0 0"
	"classname" "weapon_ammo_spawn"
	"model" "models/props/terror/ammo_stack.mdl"
	"spawnflags" "2"
	"count" "1"
}
; --- 第一个机关后
{
	"origin" "2295 7594 511"
	"angles" "0 0 0"
	"classname" "weapon_ammo_spawn"
	"model" "models/props/terror/ammo_stack.mdl"
	"spawnflags" "2"
	"count" "1"
}
; --- 刷枪的桌子上
{
	"origin" "3581 7021 -191"
	"angles" "0 0 0"
	"classname" "weapon_ammo_spawn"
	"model" "models/props/terror/ammo_stack.mdl"
	"spawnflags" "2"
	"count" "1"
}
; --- 小房间里
{
	"origin" "3801 7179 -320"
	"angles" "0 0 0"
	"classname" "weapon_ammo_spawn"
	"model" "models/props/terror/ammo_stack.mdl"
	"spawnflags" "2"
	"count" "1"
}
; --- 大垃圾箱旁
{
	"origin" "4838 6887 -447"
	"angles" "0 0 0"
	"classname" "weapon_ammo_spawn"
	"model" "models/props/terror/ammo_stack.mdl"
	"spawnflags" "2"
	"count" "1"
}
; --- 两把枪桌子下
{
	"origin" "3643 7559 -582"
	"angles" "0 0 0"
	"classname" "weapon_ammo_spawn"
	"model" "models/props/terror/ammo_stack.mdl"
	"spawnflags" "2"
	"count" "1"
}
; --- 进仓库前的小房间
{
	"origin" "3396 9363 -439"
	"angles" "0 0 0"
	"classname" "weapon_ammo_spawn"
	"model" "models/props/terror/ammo_stack.mdl"
	"spawnflags" "2"
	"count" "1"
}
; --- 仓库
{
	"origin" "2749.93 9816.47 -440"
	"angles" "0 0 0"
	"classname" "weapon_ammo_spawn"
	"model" "models/props/terror/ammo_stack.mdl"
	"spawnflags" "2"
	"count" "1"
}
; --- 下管道
{
	"origin" "3844 9116 -575"
	"angles" "0 0 0"
	"classname" "weapon_ammo_spawn"
	"model" "models/props/terror/ammo_stack.mdl"
	"spawnflags" "2"
	"count" "1"
}

; --- 去掉灌油和冲刺机关
modify:
{
	match:
	{
		"hammerid" "1275"
	}
	insert:
	{
		"OnMapSpawn" "wf3_hc_gateOpen0.51"
		"OnMapSpawn" "wf3_jiayou_blockKill0.41"
		"OnMapSpawn" "wf3_gasnum_displayTurnOff0-1"
		"OnMapSpawn" "wf3_gasnozzle_dyStopGlowing01"
		"OnMapSpawn" "wf3_gasuse_targetDeactivate0-1"
		"OnMapSpawn" "wf3_gas_fadongjiStopGlowing01"
		"OnMapSpawn" "wf3_p_gascanTurnGlowsOff01"
		"OnMapSpawn" "wf3_dmamb_relayTrigger0-1"
		"OnMapSpawn" "wf3_hc_gnblockUnblockNav0.71"
		"OnMapSpawn" "!selfKill0.011"
		"OnMapSpawn" "wf3_bramp_mainSetAnimationcomedownfull0.21"
		"OnMapSpawn" "wf3_bramp_bblockKill5.11"
		"OnMapSpawn" "wf3_bramp_scblockKill5.11"
		"OnMapSpawn" "wf3_bramp_navblockUnblockNav31"
	}
}

; --- 删除机关，尸潮，灌油和部分偏僻的药
filter:
{
	"targetname" "wf3_crowp_tonce"
}
{
	"classname" "weapon_scavenge_item_spawn"
}
{
	"hammerid" "534876"
}
{
	"hammerid" "535097"
}
{
	"hammerid" "535255"
}
{
	"classname" "game_scavenge_progress_display"
}
{
	"targetname" "wf3_gasnum_display"
}
{
	"targetname" "wf3_gasnum_counter"
}
{
	"targetname" "wf3_bramp_button"
}
{
	"targetname" "wf3_bramp_bttfake"
}
