;删除救援机关
modify:
{
    match:
    {
	"hammerid" "3061"
    }
    replace:
    {
	"OnMapSpawn" "escapecoretriggerEnable1.6-1"
    }
}

modify:
{
    match:
    {
	"classname" "trigger_finale"
    }
    replace:
    {
	"VersusTravelCompletion" "1"
    }
}

filter:
;删除救援机关
{
	"targetname" "finstartbutton"
}
;删除激光
{
	"classname" "env_laser"
}
{
	"classname" "env_beam"
}