add:
;添加安全屋武器
{
	"classname" "weapon_spawn"
	"origin" "-8319 -5588 7"
	"angles" "0 270 -90"
	"weapon_selection" "any_smg"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
{
	"classname" "weapon_spawn"
	"origin" " -8353 -5591 7"
	"angles" "0 43 -90"
	"weapon_selection" "tier1_shotgun"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}

;马棚武器
{
	"classname" "weapon_spawn"
	"origin" "-9624 -7413 -62"
	"angles" "0 270 -90"
	"weapon_selection" "any_smg"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
{
	"classname" "weapon_spawn"
	"origin" "-9539 -7409 -62"
	"angles" "0 43 -90"
	"weapon_selection" "tier1_shotgun"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}

;火车过道武器
{
	"classname" "weapon_spawn"
	"origin" "-12528 -5894 118"
	"angles" "0 270 -90"
	"weapon_selection" "any_smg"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
{
	"classname" "weapon_spawn"
	"origin" "-12553 -5894 118"
	"angles" "0 43 -90"
	"weapon_selection" "tier1_shotgun"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}

;办公室武器
{
	"classname" "weapon_spawn"
	"origin" "-7013 -3447 421"
	"angles" "0 270 -90"
	"weapon_selection" "any_smg"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
{
	"classname" "weapon_spawn"
	"origin" "-7011 -3505 421"
	"angles" "0 43 -90"
	"weapon_selection" "tier1_shotgun"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}

;小屋武器
{
	"classname" "weapon_spawn"
	"origin" "-6844 -2050 11"
	"angles" "0 270 -90"
	"weapon_selection" "any_smg"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
{
	"classname" "weapon_spawn"
	"origin" " -6896 -2025 11"
	"angles" "0 43 -90"
	"weapon_selection" "tier1_shotgun"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}

filter:
;删包
{
	"classname" "weapon_first_aid_kit_spawn"
}

;删除原图武器生成逻辑
{
	"classname" "weapon_smg"
}
{
	"classname" "weapon_smg_silenced"
}
{
	"classname" "weapon_shotgun_chrome"
}
{
	"classname" "weapon_pumpshotgun"
}
{
	"classname" "weapon_hunting_rifle"
}
{
	"classname" "weapon_sniper_military"
}
{
	"classname" "weapon_rifle"
}
{
	"classname" "weapon_rifle_desert"
}
{
	"classname" "weapon_rifle_ak47"
}
{
	"classname" "weapon_shotgun_spas"
}
{
	"classname" "weapon_autoshotgun"
}

;删除暴风雨
{
	"targetname" "relay_storm_blendin"
}
{
	"targetname" "relay_storm_blendout"
}
{
	"targetname" "timer_storm_lightning_strike"
}
{
	"targetname" "timer_stormtime"
}
{
	"targetname" "ldq_stormtime"
}
{
	"targetname" "wind_storm"
}
{
	"targetname" "template_wind_storm"
}
{
	"targetname" "rainLayer_coop"
}
{
	"OnMultiNewMap" "directordBeginScriptdirector_c4_storm0.2-1"
}
{
	"targetname" "fog_storm"
}
{
	"targetname" "fx_storm_lightning_strike_skybox_01"
}
{
	"targetname" "relay_storm_start"
}

;外层钟血量减少90%
modify:
{
    match:
    {
	"targetname" "church_bell"
    }
    insert:
    {
	"OnBreak" "church_bell_2SetHealth2250-1"
    }
    delete:
    {
	"OnBreak" "church_bell_2SetHealth22500-1"
    }
}

;内层钟血量减少90%
modify:
{
    match:
    {
	"hammerid" "3685869"
    }
    insert:
    {
	"OnTrigger" "church_bellSetHealth2250-1"
    }
    delete:
    {
	"OnTrigger" "church_bellSetHealth22500-1"
    }
}