add:
;跳过面包车的近路
{
	"classname" "prop_dynamic"
	"origin" " -1599 -1281 -62"
	"angles" "0 0 0"
	"model" "models/props_vehicles/taxi_city.mdl"
	"solid" "6"
	"disableshadows" "1"
}
;安全屋前的近路
{
	"classname" "prop_dynamic"
	"origin" " 973 -5543 75"
	"angles" "0 0 90"
	"model" "models/props/cs_militia/militiarock06.mdl"
	"solid" "6"
	"disableshadows" "1"
}

;删除随机路线
modify:
{
    match:
    {
	"hammerid" "5907532"
    }
    insert:
    {
	"OnVersus" "relay_route_dinerTrigger0-1
    }
    delete:
    {
	"OnVersus" "reroute_casePickRandom0-1"
    }
}

add:
;添加安全屋武器
{
	"classname" "weapon_spawn"
	"origin" "-2982 8 367"
	"angles" "0 270 -90"
	"weapon_selection" "any_smg"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
{
	"classname" "weapon_spawn"
	"origin" "-3095 23 329"
	"angles" "0 223 -90"
	"weapon_selection" "tier1_shotgun"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
;车灯前
{
	"classname" "weapon_spawn"
	"origin" "-2403 -684 -63"
	"angles" "0 270 -90"
	"weapon_selection" "any_smg"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
{
	"classname" "weapon_spawn"
	"origin" "-2364 -748 -63"
	"angles" "0 223 -90"
	"weapon_selection" "tier1_shotgun"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
;杂物间里
{
	"classname" "weapon_spawn"
	"origin" "-875 -2986 -46"
	"angles" "0 270 -90"
	"weapon_selection" "any_smg"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
{
	"classname" "weapon_spawn"
	"origin" " -965 -2971 -46"
	"angles" "0 223 -90"
	"weapon_selection" "tier1_shotgun"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}

filter:
;删药
{
	"classname" "weapon_item_spawn"
}
{
	"classname" "weapon_pain_pills_spawn"
}
;删除随机路线
{
	"targetname" "reroute_case"
}
;删除原图武器生成逻辑
{
	"classname" "weapon_smg"
}
{
	"classname" "weapon_smg_silenced"
}
{
	"classname" "weapon_shotgun_chrome"
}
{
	"classname" "weapon_pumpshotgun"
}
{
	"classname" "weapon_hunting_rifle"
}
{
	"classname" "weapon_sniper_military"
}
{
	"classname" "weapon_rifle"
}
{
	"classname" "weapon_rifle_desert"
}
{
	"classname" "weapon_rifle_ak47"
}
{
	"classname" "weapon_shotgun_spas"
}
{
	"classname" "weapon_autoshotgun"
}