modify:
;取消随机路线
{
	match:
	{
		"hammerid" "1433793"
	}
	insert:
	{
		"OnMapSpawn" "relay_path_a_unblockTrigger0-1"
		"OnMapSpawn" "relay_path_b_blockTrigger0-1"
		"OnMapSpawn" "relay_path_c_blockTrigger0-1"
	}
	delete:
	{
		"OnMapSpawn" "case_pathPickRandom0-1"
	}
}

filter:
;删除机关克
{
	"OnPressed" "zombiespawn_pianoSpawnZombieTank1-1"
}
	