modify:
;取消随机路线
{
	match:
	{
		"hammerid" "840398"
	}
	insert:
	{
		"OnMapSpawn" "relay_path_a_unblockerTrigger0-1"
		"OnMapSpawn" "relay_path_b_blockerTrigger0-1"
		"OnMapSpawn" "relay_path_c_unblockerTrigger0-1"
		"OnMapSpawn" "relay_path_d_blockerTrigger0-1"
	}
	delete:
	{
		"OnMapSpawn" "case_pathPickRandom0-1"
	}
}

filter:
;删除ai特感
{
	"targetname" "zombie_case_charge"
}
